<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href=
            https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css>
    <title>Homepage</title>
</head>
<body>
    <p>Homepage</p>

    <!--navigation bar-->
    <div class="nav">
        <img src="" alt="logo-image" class="logo-image">
        <h1 class="brand-name">BS</h1>
        <a class="nav-text"> Products </a>
        <a class="nav-text"> Categories </a>
        <a class="nav-text"> Order </a>
        <div class="search-icons-container">
            <div class="search-container">
                <input type="text" placeholder="Search" class="search-bar"/>
                <div>
                    <button id="nav-button-search" class="fa-solid fa-search icon"></button>
                </div>
            </div>
            <div>
                <button id="nav-button-cart" class="fa-solid fa-cart-shopping"></button>
            </div>
            <div>
                <button id="nav-button-user" class="fa fa-user icon" name="nav-button-user"></button>
            </div>
        </div>
    </div>
    <!--picture-->
    <div class="picture-container">
        <img src="https://thecounter.org/wp-content/uploads/2018/11/epic-tanka-bison-bars-general-mills-native-american-food-business-november-201-5-e1608224314629.jpg" alt="picture"  class="picture">
    </div>
    <!--list of shoes pictures-->
    <!--list of newest-->
    <h2 class="list-title"> Newest of the Season </h2>
    <div class="list-pictures">
        <div>
            <img src="https://thecounter.org/wp-content/uploads/2018/11/epic-tanka-bison-bars-general-mills-native-american-food-business-november-201-5-e1608224314629.jpg" alt="pic1" class="pictures-in-list">
            <p>Giay</p>
        </div>
        <div>
            <img src="https://thecounter.org/wp-content/uploads/2018/11/epic-tanka-bison-bars-general-mills-native-american-food-business-november-201-5-e1608224314629.jpg" alt="pic2" class="pictures-in-list">
            <p>Giay</p>
        </div>
        <div>
            <img src="https://thecounter.org/wp-content/uploads/2018/11/epic-tanka-bison-bars-general-mills-native-american-food-business-november-201-5-e1608224314629.jpg" alt="pic3" class="pictures-in-list">
            <p>Giay</p>
        </div>
        <div>
            <img src="https://thecounter.org/wp-content/uploads/2018/11/epic-tanka-bison-bars-general-mills-native-american-food-business-november-201-5-e1608224314629.jpg" alt="pic4" class ="pictures-in-list">
            <p>Giay</p>
        </div>
        <div>
            <img src="https://thecounter.org/wp-content/uploads/2018/11/epic-tanka-bison-bars-general-mills-native-american-food-business-november-201-5-e1608224314629.jpg" alt="pic5" class="pictures-in-list">
            <p>Giay</p>
        </div>
    </div>
    <!--list of discounts-->
    <h2 class="list-title"> Discount </h2>
    <div class="list-pictures">
        <div>
            <img src="" alt="pic1" class="pictures-in-list">
            <p>Giay</p>
        </div>
        <div>
            <img src="" alt="pic2" class="pictures-in-list">
            <p>Giay</p>
        </div>
        <div>
            <img src="" alt="pic3" class="pictures-in-list">
            <p>Giay</p>
        </div>
        <div>
            <img src="" alt="pic4" class="pictures-in-list">
            <p>Giay</p>
        </div>
        <div>
            <img src="" alt="pic5" class="pictures-in-list">
            <p>Giay</p>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>