<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href=
            https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css>
    <title>LAYOUT</title>
</head>
<body>
    <!--header-->
    <header>
        <a class="header-text">Contact us</a>
        <div>
            <p class="vertical-line"/>
        </div>
        <a class="header-text">Help</a>
    </header>
    
    <!--navigation bar-->
    <div class="nav">
        <img src="" alt="logo-image" class="logo-image">
        <h1 class="brand-name">BS</h1>
        <a class="nav-text"> Products </a>
        <a class="nav-text"> Categories </a>
        <a class="nav-text"> Order </a>
        <div class="search-icons-container">
            <div class="search-container">
                <input type="text" placeholder="Search" class="search-bar"/>
                <div>
                    <button id="nav-button-search" class="fa-solid fa-search icon"></button>
                </div>
            </div>
            <div>
                <button id="nav-button-cart" class="fa-solid fa-cart-shopping"></button>
            </div>
            <div>
                <button id="nav-button-user" class="fa fa-user icon" name="nav-button-user"></button>
            </div>
        </div>
    </div>

    <div class="content">
        {{{body}}}
    </div>

    <!--footer-->
    <footer >
        <div class="footer-column">
            <h4>Policy</h4>
            <a>Return Policy</a> <br>
            <a>Checking Order</a> <br>
            <a>Membership</a> <br>
        </div>
        <div class="footer-column">
            <h4>Address</h4>
            <a>Ha Noi</a> <br>
            <a>Da Nang</a> <br>
            <a>Ho Chi Minh</a> <br>
            <a>Nha Trang</a>
        </div>
        <div class="footer-column">
            <h4>Sale Consultants</h4>
            <h4>Contact us</h4>
        </div>
        <div class="footer-logo">
            <img src="" alt="footer-logo">
        </div>
    </footer>
</body>
</html>