body{
    background: url(https://i.pinimg.com/564x/2a/21/fd/2a21fddddd5b758ca16aff39aa3976f4.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 100vh;
   
}

.error-message {
        color: #dc3545;
        font-size: 14px;
        margin-top: 10px;
        padding: 10px;
        border-radius: 4px;
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        display: none;
    }


.login-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    text-align: center;
    justify-content: center;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 12px;
    padding: 10px 20px;
    background-color: rgba(251, 247, 247, 0.388);
    backdrop-filter: blur(10px);
    box-shadow: 2px 5px 20px black;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(10, 10, 10);
}
.login-form{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    align-items: center;
    justify-content: center;
}

.form-group{
    border-bottom: 1px solid rbg(72,71,71);
    background-color: transparent;
    padding-bottom: 5px;
}

#username, #password{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    transition: all 0.3s ease;
    margin-left: 5px;
    letter-spacing: 2px;
    border-bottom: 2px solid rgb(0, 0, 0);
}
#username::placeholder, #password::placeholder {
    color: black;
    font-size: 16px;
    opacity: 0.7;
}
.forgot{
    margin-top: 10px;
}
#forgotText{
    color: rgb(20, 20, 20);
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
}
#loginBtn{
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
    font-size: 16px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
#loginBtn:hover{
    background-color: rgb(90, 90, 90);
}
#signUp{
    color: rgb(26, 38, 197);
}