<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="sign-up-container">
        <form class="sign-up-form" action="/signup" method="post" onsubmit="return validatePassword()">
            <div class="title">
                <p>Create an account</p>
            </div>
            <div class="form-group">
                <input type="text" id="name" name="name" placeholder="Name" required>
                <input type="date" id="dob" name="dob" style="color: black; font-size: 16px; opacity: 0.7;" required>
                <select id="gender" name="gender"  required>
                    <option value=""  disabled selected > Select your gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" placeholder="Phone number" required>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Enter your password again" required>
            </div>
            <div class="button">
                <button type="submit" id="signUpBtn">Sign Up</button>
            </div>
                <div id="error-message" class="error"></div>
                <div class="login">
                    <p>Login <a href="/login" id="login">Here</a></p>
                </div>
        </form>
    </div>
    <script>
        function validatePassword() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm-password").value;
            var errorMessage = document.getElementById("error-message");
            if (password !== confirmPassword) {
                errorMessage.textContent = "Passwords do not match.";
                return false;
            }
            return true;
        }
    </script>
</body>
</html>