body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.content {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
.user-table {
    margin-left: 250px;
    width: calc(100% - 250px); 
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th, .user-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.user-table th {
    background-color: #f4f4f4;
}

.user-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-table tr:hover {
    background-color: #f1f1f1;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.edit-btn {
    background-color: #0E65E9; /* Green */
    color: white;
}

.delete-btn {
    background-color: #f44336; /* Red */
    color: white;
}

.edit-btn:hover {
    background-color: #071f45;
}

.delete-btn:hover {
    background-color: #e60000;
}
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination-btn {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f4f4f4;
    margin: 0 5px;
}

.pagination-btn:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
    background-color: #ddd;
}